<div class="container mt-3">
        <div class="card mb-2"*ngFor="let book of books">
            <div class="row">
                <div class="col-4 ">
                    <div class="img-placeholder"><img src="../../../assets/book-placeholder 2.png" class="w-50"></div>
                </div>
                <div class="col-6">
                    <h3>{{book.title}}</h3>
                    <p>{{book.author}}</p>
                    <button class="btn btn-danger"(click)='unRecommend(book)'>Un-Recommend</button>
                </div>
            </div>
        </div>
        <div class="text-center mt-4 text-danger" *ngIf="books.length==0">No Recommendations Available</div>
    </div>